<header id="header">
	<div class="container">
		
		<form class="form-inline">
		<select name="logfile-select" id="logfile-select" class="form-control">
			<option value="">Today</option>
			<optgroup label="Log Files">
				{% for row in logs %}
					<option value="{{ row }}" {% if file == row %}selected="selected"{% endif %}>{{ row }}</option>
				{% endfor %}
			</optgroup>
			
		</select>
			<p class="form-control-static" style="margin-left:50px;">{{ data[0][0] }} - to - {{ data|last[0] }}</p>
			<p class="form-control-static" style="margin-left:50px;"><strong>{{ stats['failed'] }}</strong>
				failed of <strong>{{ stats['total'] }}</strong>
				= <strong>{{ stats['percent']|number_format(2, '.') }}%</strong>
				down
				<em style="margin-left:20px;"><span title="{{ stats['workday']['total'] }} total | {{ stats['workday']['failed'] }} failed">(<strong>{{ stats['workday']['percent']|number_format(2, '.') }}%</strong>
				 between 8-17)</span></em>
			
			</p>
			<label for="scale" style="margin-left:20px;" class="pull-right" >
			<input type="checkbox" id="scale" name="scale" value="1"/> <i class="fa fa-expand"></i>
				</label>
			</form>
	</div>
</header>

<style type="text/css">
	{% for row,colour in stages %}
	.item-{{ loop.index0 }} {
		background:{{ colour }};
	}
	{% endfor %}

</style>