<section class="section">
	<div id="chart-area">
		<div id="inner">
			
			{% if max > 200 %}
				{% set max = 200 %}
			{% endif %}
			
			<div style="height: {{ max }}px;">
				<div>
				{% for row in data %}
					{% set h = row[1] %}
					
					{% if row[1] == '-' %}
						{% set h = max %}
					{% endif %}
					{% if row[3]!='' %}
						
							</div>
						
						<div class="hour">
						<div class="item seperator">
							
							{% set lab = "AM" %}
							{% if row[3]> 12 %}
								{% set lab = "PM" %}
							{% endif %}
							
							<div>{{ row[3] }}{{ lab }}</div>
						</div>
						
					{% endif %}
							{% if h > 200 %}
								{% set h = 200 %}
							{% endif %}	
					
							
					<div class="item item-{{ row[2] }}" style="height:{{ h }}px;" title="{{ row[0] }} - {{ row[1] }}"></div>
				{% endfor %}
						</div>
			</div>
		</div>
		
		
	</div>
</section>