<section class="section">
	<div id="chart-area">
		<div id="inner">
			<div style="height: {{ max }}px;">
				{% for row in data %}
					{% set h = row[1] %}
					{% set color = "" %}
					{% if row[1] == '-' %}
						{% set color = "4" %}
						{% set h = max %}
					{% elseif row[1] > 200 %}
						{% set color = "3" %}
					{% elseif row[1] > 100 %}
						{% set color = "2" %}
					{% elseif row[1] > 50 %}
						{% set color = "1" %}
					{% else %}
						{% set color = "0" %}
					{% endif %}
					{% if row[2]!='' %}
						<div class="item seperator">
							
							{% set lab = "AM" %}
							{% if row[2]> 12 %}
								{% set lab = "PM" %}
							{% endif %}
							
							<div>{{ row[2] }}{{ lab }}</div>
						</div>
					{% endif %}
					<div class="item item-{{ color }}" style="height:{{ h }}px;" title="{{ row[0] }} - {{ row[1] }}"></div>
				{% endfor %}
			</div>
		</div>
		
		
	</div>
</section>